<html>

<head>
    <title>Mustache Example</title>
</head>

<body>
    <h1>{{title}}</h1>
    <div>
        <div>
            <h4>The subject of the post will go here</h4>
            <p>
                The contents of the post will go here
            </p>
            <div>
                The author's name will be displayed here
            </div>
        </div>
</body>

</html>